	<!-- End Page Content -->
    <!-- ================ -->
	</div><!-- end document container -->    
	<div class="script-div">
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://code.jquery.com/jquery.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="js/bootstrap.min.js"></script>
	    <!-- fire base login -->
	    <script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.2.1/firebase-simple-login.js'></script>

	    <!-- get login -->
	    <script src="js/getLogin.js"></script>
	 </div><!-- end script div -->

  </body>
</html>