     <div class="container container-main">

        <div class="row">
            <!-- Page Heading -->
            <div class="page-header">
                <h1>The Hobbit</h1>
            </div>
            <!-- video container -->
            <div class="col-md-8 v-container">

                <div class="streamer pull-left spacer10" style="width: 640px; height: 480px;">
                    <div id="flashContent">
                        <script type="text/javascript">
                            var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
                            document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>" );
                        </script>

                    </div>
                    </div><!-- end streamer class -->
                         <div class="device-options">
                          <span class="glyphicon glyphicon-remove-circle"></span>
                            <div class="available-options">
                                <a href="#" class="selected-device">testing</a>
                            </div>
                    </div>
                <div class="col-md-8 player-controls-box"> <!-- Controller Icons / Slider -->

                    <div class="player-controls-container">
                        <!-- Glyphicons -->
                        <!-- play/pause -->
                        <span class="glyphicon glyphicon-play player-cont  pull-left " ></span>
                        <span class="glyphicon glyphicon-pause player-cont pull-left"></span>
                        <!-- Slider -->
                        <div class="player-slider"> 

                            <div class="slider-bar">
                                <div class="slider-handle">
                                </div><!-- end slider handle -->
                            </div><!-- end slider bar -->

                        </div>
                        <span class="minutes pull-left">00</span>
                        <span class='pull-left'>:</span>
                        <span class="seconds pull-left">00</span>

                        <span class='pull-left'> / </span>
                        <span class="minutes-total">00</span>
                        <span class='pull-left'>:</span>
                        <span class="seconds-total pull-left">00</span>
                        <div class='sound-slider'>
                            <div class='sound-slider-bar'>
                                <div class='sound-slider-handle'></div>
                            </div>
                        </div><!-- end sound slider -->  
                        <span class='glyphicon glyphicon-volume-off'></span>
                        <span class='glyphicon glyphicon-volume-down'></span>
                        <span class="glyphicon glyphicon-volume-up"></span>
                        <span class="glyphicon glyphicon-record player-cont "></span>
                        <span class="glyphicon glyphicon-camera player-cont"></span>
                        <span class="glyphicon glyphicon-play-circle"></span>

                    </div><!-- end player controls container -->
               
                </div><!-- end player controls box -->

              </div><!-- end v8 container -->
 


            <div class="col-md-2 chat-bar">
                <div class="chat-box">
                  <div class="comment-div">

                  </div>
                  <form class="form-inline" role="form">
                       <div class="form-group">
    <!--                       <label class="sr-only" for="submit">Your Comment</label> -->
                          <textarea class="form-control user-comment" id="comment-box" rows="2"></textarea>
                       </div>
                      <button type="submit" class="btn btn-default chat-send-button">Send</button>
                  </form>

            </div><!-- end chat bar -->
        </div><!-- end row div -->
       <!--  </div> -->
    </div><!-- end Video Player Div -->


