<div class = 'container login-div' >

  <!-- left side -->
  <div class='row'>
    <div class='col-md-6'>

      <form role="form" class="github-login" action="?login">
        <h4> Log In Anonymously</h4>
         <button type="submit" class="btn btn-default left-button">Submit</button>
      </form>

    </div><!-- end col-md-6 -->

  <!-- right side -->

      <!-- Simple Log In -->
      <div class='col-md-6 simple-login'>


        <form role="form" class="login-forms" action='?login'>
          <div class="form-group">
            <label for="simple-user-email">Email address</label>
            <input type="email" class="form-control" id="simple-user-email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="simple-user-password">Password</label>
            <input type="password" class="form-control" id="simple-user-password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default simple-login-button" id="simple-login-button">Submit</button>
          <a href="#" id="signup-button">Sign Up </a>
        </form >

      </div><!-- end col-md-6 --> 

      <!-- Simple Sign Up  -->
      <div class='col-md-6 simple-sign-up'>

        <h5>Fill out the form below to quckly become a member</h5>

        <div role="form" class="login-forms" method = "post">
          <div class="form-group">
            <label for="simple-signup-email">Email</label>
            <input type="email" class="form-control" id="simple-signup-email" placeholder="Enter email">
          </div>

          <div class="form-group">
            <label for="simple-signup-password">Password</label>
            <input type="password" class="form-control" id="simple-signup-password" placeholder="Password">
          </div>

          <div class="form-group">
            <label for="simple-signup-password2">Password Re</label>
            <input type="password" class="form-control" id="simple-signup-password2" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-default simple-signup-button" id="simple-signup-button">Sign UP </button>
          <a  id="back-login-button"> back to login </a>
        </div>
      </div><!-- end col-md-6 --> 
       <!-- end sign up div -->
  </div><!-- end row -->

</div><!-- end div class container -->